@font-face {
    font-family: "Lato-Regular";
    src: url("./assets/font/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Semibold";
    src: url("./assets/font/Lato/Lato-Semibold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("./assets/font/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("./assets/font/Lato/Lato-Light.ttf");
}


html {
    font-size: 10px;
}

body {
    width: 1020px;
}

.header {
    font-family: "Lato-Semibold", sans-serif;
    background-color: #2d303a;
    height: 95px;
}
.logo {
    font-size: 2.38rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 32px 42px;
    width: 100px;
}

.header__color {
    color: red;
}

.navigation {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    list-style: none;
    margin: -79px 25px;
    float: right;

}

.navigation li {
    display: inline-block;
    padding: 15px;
    font-stretch: inherit;
    letter-spacing: -0.5px;
}

.activ_li {
    color: red;
}

.item {
    position: relative;
}

.item::before {
    content: ".";
    color: #494e62;
    position: absolute;
    top: 11px;
    right: -3px;
}

._item:last-child::before {
    display: none;
}


